<!doctype html>

<html>
<head>
	<title>Grad Connect</title></br></br>
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/clinicalcognitionchoice.css" />
</head>
	
<body>
	<form action="/">
		<input type="submit" value="Home Page">
	</form>

	<div class="jumbotron">
		<h1>Clinical Cognition</h1>
	</div>

	<center>
		<ul>
			<li><a href="clinicalgrads">Grad Students</a></li>
			<li><a href="clinicalprofessors">Professors</a></li>
		</ul>
	</center>

	<script src="js/jquery-1.11.0.js" />
	<script src="js/bootstrap.js" />
	<script src="routes/clinicalcognitionchoice.js" />
</body>
</html>