<!doctype html>

<html>
<head>
	<title>Grad Connect</title>
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>
	(function(){
	        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
	})("woopra");

	woopra.config({
	    domain: 'gradconnect2.herokuapp.com'
	});
	woopra.track();
	</script>
</head>

<body>
	<a href="/" class="btn btn-success">Go back home</a>

	<div class="container">
		<center>
			<h1>Frequently Asked Questions</h1>
			<h2>General Questions</h2>
			<h3>What is this site meant to do?</h3>
			<p>A portal to get in touch with current graduate students of the professors you want to work with.</p>
			<h3>What is the difference between the Ph.D. degree offered by the Cognitive Science department, and the Interdisciplinary Ph.D. Program in Cognitive Science?</h3>
			<p>UCSD is a very interdisciplinary campus. Faculty in the Cognitive Science department all maintain active relationships with other parts of campus, and often teach students from other departments. UCSD offers two distinct Ph.D. programs related to cognitive science, each with different admissions and graduation requirements.</p>
			<p>First, the Department of Cognitive Science offers a Ph.D. in Cognitive Science. Students are admitted directly into the department, take many of their classes from and are advised by CogSci faculty, and fulfill degree requirements of the department. This program provides broad training in the various areas of cognitive science, and a faculty member from the Cognitive Science department typically acts as advisor for the dissertation.</p>
			<p>Second, the Interdisciplinary Program in Cognitive Science (IDP) offers a joint Ph.D. program between Cognitive Science and some other "home" department. UCSD academic departments offering this opportunity are:</p>
			<ul>
				<li>Anthropology</li>
				<li>Communication</li>
				<li>Computer Science & Engineering</li>
				<li>Linguistics</li>
				<li>Neuroscience</li>
				<li>Philosophy</li>
				<li>Psychology</li>
				<li>Sociology</li>
			</ul>
			<p>Students gain admittance to the IDP through the home department and must fulfill requirements of the home department. </p>
			<h3>What background/degree should I have to apply to Cognitive Science?</h3>
			<p>We accept students from all fields, but applicants must have completed a bachelor's degree; many have also completed a Masters degree. All degrees must be from accredited institutions of higher education. The range of prior disciplines of our students is very broad (even broader than the set of IDP cognate departments listed above!).</p>
			<h3>What research areas does Cognitive Science have and where can I find more information? </h3>
			<p>Our department specializes in a variety of research including language and cognitive development, visual processing, human computer interaction, neural networks, and the development of robots.</p>
			<h3>I'm currently an undergrad in the UCSD Cog Sci Program. Is it harder for me to get into the PhD program? </h3>
			<p>Students may apply to the program and are sometimes accepted. However, please be aware that only a handful of our own students have been admitted since 1988. You are encouraged to apply to other institutions to broaden your education.</p>
			<h3>I hear that San Diego is an expensive place to live. How much does it cost to rent a place?</h3>
			<p>San Diego can be expensive, however, sharing a place with others often makes the cost affordable. </p>
			<h3>Does Cognitive Science have a Master's program?</h3>
			<p>The focus of our graduate program is the Ph.D. degree. Students in good standing who leave before completing a Ph.D. can ask to receive a Masters, if they've completed the necessary course work. However, note that duplication of advanced degrees is not permitted at UCSD.</p>
			<h3>How many applicants do you accept to the program each year?</h3>
			<p>Every year varies, but here are some statistics from the Fall 12 entering class:</p>
			<ul>
				<li>12 students admitted from 151 applications</li>
				<li>3.6 GPA average</li>
				<li>680/760/5.25 GRE Average for Verbal/Quant/Analytical respectively</li>
				<li>Majors included such varied fields as: Chemistry, Computer Science, Cognitive Science, Electrical Engineering and Linguistics</li>
			</ul>
			</p>Statistics on current graduate students:<p>
			<ul>
				<li>45 Current grad students</li>
				<li>32% Women</li>
				<li>15% International students</li>
				<li>4% Underrepresented minorities</li>
			</ul>
			<h3>What kinds of jobs do students obtain after graduating?</h3>
			<p>Graduates of our program have gone off to both academic and industrial careers. It is also not unusual for our students to go into a post-doctoral program. </p>
			<h3>Can I take Cogs graduate courses even though I haven't been admitted to a UCSD graduate program?</h3>
			<p>Students who want to take courses for personal enrichment or to prepare for applying to a Cogs graduate program can enroll in graduate classes (with permission of the instuctor) through the UCSD Extension Concurrent Enrollment Program.</p>

		</br>

			<h2>The Admissions Process</h2>
			<h3>What is the application deadline for the next available term?
			</h3>
			<p>We only consider applications once per year, in January, for the next academic year. The deadline to apply for the 2015-2016 academic year is December 2nd, 2014.</p>
			<h3>What are the admission requirements?</h3>
			<p>All applicants must submit by the deadline:</p>
			<ul>
				<li>an application (including $90 fee, $110 for International Applicants)</li>
				<li>transcript(s) showing all previous college or university work. Applicants with a GPA below 3.0 (on a 4.0 scale) will not be considered further.</li>
				<li>general GRE general test scores;</li>
				<li>a statement of purpose;</li>
				<li>three letters of recommendation, preferably from faculty.</li>
				<li>Non-native English speaking students must also take ETS's TOEFL exam or the International English Language Testing System (IELTS). Applicants with a score below 550 (paper based), 213 (computer-based), 80 (internet-based) or 7 (IELTS) will not be considered further.</li>
			</ul>
			<h3>What are the appropriate ETS (GRE and TOEFL) codes?</h3>
			<p>The UCSD institutional code is 4836, the CogSci department code is 5199 ("any other department not listed") and the TOEFL code is 99. </p>
			<h3>How long are GRE and TOEFL scores valid?</h3>
			<p>GRE scores are valid for five years. Please note we do not require a subject test. The TOEFL score is valid for two years. The TOEFL is only required for international applicants whose native language is not English and who have not studied for one uninterrupted year at a university-level institution in a country in which English is the language of instruction and in a country in which English is the dominant language.</p>
			<h3>I submitted my statement of purpose online. Do I need to submit a paper version as well?</h3>
			<p>It is not necessary to submit a paper version of your statement.  Please be aware that the online application will cut off anything beyond 13,200 characters (2000-2500 words) without any warning to the applicant.</p>
			<h3>I read that you require a pre-app, but I can't find it on your website. What should I do?</h3>
			<p>Pre-apps are no longer required by our department.</p>
			<h3>What types of financial support are available to students in Cognitive Science?</h3>
			<p>Students admitted into the program are typically offered four years of support (provisional on adequate progress each year). Financial support comes in the form of fellowships, teaching assistantships and research assistantships.Students are encouraged to look into applying for extramural fellowships directly themselves! </p>
			<h3>Can I apply to more than one graduate program at UCSD?</h3>
			<p>Yes, and only one application fee is required. Please see online application instructions for multiple applications. Note that you will need to include supporting documents for each department separately (i.e., statement of purpose, letters of recommendation, test scores, etc.)</p>
			<h3>I've already applied to the program and am waiting to hear back. When will I know if I'm accepted?</h3>
			<p>You will be notified as soon as possible (but via automatic email) which documents we've received and when your file is complete. In late January, invitations to visit our department will be sent to some applicants. We will notify all applicants of final decisions before the end of March.</p>
		</center>
	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/tracking.js"></script>
</body>
</html>