<!doctype html>

<html>
<head>
	<title>Grad Connect</title>
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<a href="/" class="btn btn-success">Go back home</a>

	<div class="container">
		<center>
			<h1>Frequently Asked Questions</h1>
			<h3>What is this site meant to do?</h3>
			<p>A portal to get in touch with current graduate students of the professors you want to work with.</p>
		</center>
	</div>

	<script src="js/jquery-1.11.0.js" />
	<script src="js/bootstrap.js" />
</body>
</html>