<!doctype html>

<html>
	<head>
		<title>Grad Connect</title></br></br>
	</head>
	
	<body>
	<form action="/">
		<input type="submit" value="Home Page">
	</form>
	<center>
		<h1>Human Cognition</h1>
		<div style="width: 20%;">
		<ul>
			<li><a href="humancognitiongrads">Grad Students</a></li>
			<li><a href="humancognition">Professors</a></li>
		</ul>
		</div>
	</center>
	</body>
</html>