<!doctype html>

<html>
<head>
	<title>Grad Connect</title>
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/index.css" />
	<meta name="viewport" content="width=device-width, height=device-height">
	<!-- Start of Woopra Code -->
	<script>
	(function(){
	        var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
	})("woopra");

	woopra.config({
	    domain: 'gradconnect2.herokuapp.com'
	});
	woopra.track();
	</script>
	<!-- End of Woopra Code -->
</head>

<body>
	<div class="container">
		<div class="content">
			<h1>Grad Connect</h1>
			<h3>Choose an area of concentration:</h3>
			<center>
				<div class="indexList">
					<ul>
						<li><a class="btn btn-lg btn-default" href="clinicalcognitionchoice">Linguistics</a></li>
						<li><a class="btn btn-lg btn-default" href="computationchoice">Computation</a></li>
						<li><a class="btn btn-lg btn-default" href="humancognitionchoice">Human Cognition</a></li>
						<li><a class="btn btn-lg btn-default" href="hcichoice">HCI</a></li>
						<li><a class="btn btn-lg btn-default" href="neurosciencechoice">Neuroscience</a></li>
						<li><a class="btn btn-lg btn-warning version_b" href="faq">Read More</a></li>
					</ul>
				</div>
			</center>
		</div>
		<div class="background"></div>
	</div>

	<script src="js/jquery-1.11.0.js" />
	<script src="js/bootstrap.js" />
	<script src="js/tracking.js" />
</body>
</html>