<!doctype html>

<html>
<head>
	<title>Grad Connect</title>
	<link rel="stylesheet" href="css/bootstrap-theme.css" />
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/professors.css" />
</head>

<body>
	<div class="dropdown">
		<a class="btn btn-success dropdown-toggle" data-toggle="dropdown" href="#">Menu<b class="caret"></b></a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			<li><a href="/">Home</a></li>
			<li><a href="clinicalcognitionchoice">Clinical Cognition</a></li>
			<li><a href="computationchoice">Computation</a></li>
			<li><a href="humancognitionchoice">Human Cognition</a></li>
			<li><a href="hcichoice">HCI</a></li>
			<li><a href="neurosciencechoice">Neuroscience</a></li>
		</ul>
	</div>
	<center>
		<div class="jumbotron">
			<h1>Clinical Cognition Professors</h1>
		</div>
		{{#each professors}}
			<div class="professor" id="{{id}}">
				<a href="#" class="thumbnail">
					<img src="{{imageURL}}" class="img-responsive"></img>
					<h3>{{name}}</h3>
				</a>
				<div class='professor-description' visibility: hidden>
					<p>{{description}}</p>
					<a href="http://whenisgood.net/Create" class="btn btn-primary" target="_blank">Create a schedule!</a>
				</div>
			</div>
		{{/each}}
	</center>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/professor.js"></script>
</body>
</html>