h1 {
	text-align: center;
	color: blue;
	font-style: Times;
	font-size: 50px;
}

ul {
	width: 20%;
	list-style-type: none;
	text-align: center;
	font-size: 20px;
	padding: 0;
}

.jumbotron {
	position: relative;
	background: none;
    text-align: center;
    font-style: Times;
    color: #000033;
}

.jumbotron:after {
     content:"";
     background: url("https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xfp1/t31.0-8/11025876_671910082937926_1171499603950842202_o.jpg");
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.btn-default {
    width: 200px;
}