h1 {
	text-align: center;
	font-size: 30px;
}

ul {
	width: 20%;
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.graduate {
    padding: 20px;
    width: 50%;
}

.graduate img {
	width: 40%;
}

.jumbotron {
	position: relative;
	background: none;
    text-align: center;
    font-style: italic;
    color: #467F7E;
}

.jumbotron:after {
     content:"";
     background: url("http://ucsd.edu/timeline/images/campus-timeline.jpg");
     opacity: 0.5;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}